<app-header />

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  @if (!workshops.length) {
    <div class="custom-skeleton">
      <ion-skeleton-text animated style="width: 60%; height: 25px" />
      @for (item of [].constructor(10); track item) {
        <ion-list>
          <ion-card
            [style]="{
              width: '100%',
              height: '150px',
              position: 'relative'
            }"
          >
            <ion-card-header>
              <ion-thumbnail
                [style]="{
                  width: '100%',
                  height: '150px'
                }"
              >
                <ion-skeleton-text animated />
              </ion-thumbnail>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-card-title>
                      <ion-skeleton-text animated style="width: 60%" />
                    </ion-card-title>
                    <ion-card-subtitle>
                      <ion-skeleton-text animated style="width: 60%" />
                    </ion-card-subtitle>
                  </ion-col>
                  <ion-col size="2">
                    <ion-skeleton-text class="circle" animated style="width: 70%" />
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-skeleton-text animated />
              <ion-skeleton-text animated />
              <ion-skeleton-text animated />
              <ion-skeleton-text animated style="width: 80%" />
            </ion-card-content>
          </ion-card>
        </ion-list>
      }
    </div>
  }

  @if (workshops.length) {
    <div>
      <h1>#NurtureOurFuture</h1>
      @for (workshop of workshops; track workshop; let i = $index) {
        <ion-list>
          <ion-card [style.background-color]="workshop.cardColor">
            <ion-card-header>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-card-title [style.color]="workshop.textColor">{{
                      workshop.title | titlecase
                    }}</ion-card-title>
                    <ion-card-subtitle [style.color]="workshop.textColor">{{
                      workshop.moderator
                    }}</ion-card-subtitle>
                  </ion-col>
                  <ion-col size="3">
                    <div>
                      <ion-avatar [ngClass]="workshop.image2 ? 'image1' : ''">
                        @if (workshop.image) {
                          <img
                            [alt]="workshop.title"
                            [src]="workshop.image"
                            width="50"
                            height="50"
                          />
                        }
                      </ion-avatar>
                      <ion-avatar class="image2">
                        @if (workshop.image2) {
                          <img
                            [alt]="workshop.title"
                            [src]="workshop.image2"
                            width="50"
                            height="50"
                          />
                        }
                      </ion-avatar>
                      @if (workshop.image3) {
                        <ion-avatar class="image3">
                          @if (workshop.image3) {
                            <img
                              [alt]="workshop.title"
                              [src]="workshop.image3"
                              width="50"
                              height="50"
                            />
                          }
                        </ion-avatar>
                      }
                    </div>
                  </ion-col>
                  <ion-col size="1" />
                </ion-row>
              </ion-grid>
            </ion-card-header>
            <ion-card-content [style.color]="workshop.textColor">
              <p>{{ workshop.description }}</p>
            </ion-card-content>
          </ion-card>
        </ion-list>
      }
    </div>
  }
</ion-content>
