<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab4"></ion-back-button>
    </ion-buttons>
    <img alt="logo" id="header_logo" height="24" float-left src="assets/images/iswib-logo.png">
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div id="wrapper">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab4"></ion-back-button>
    </ion-buttons>
    <img class="background-picture" [src]="data.image">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary" class="ion-margin-bottom">{{data.name}}</ion-card-title>
        <ion-card-subtitle color="primary">Description</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{data.description}}</p>
        <ion-list class="location">
          <ion-chip (click)="goToLocation()">
            <ion-icon color="primary" name="location-sharp"></ion-icon>
            <ion-label color="primary">See location</ion-label>
          </ion-chip>
        </ion-list>
        <!-- <ion-list class="center">
          <ion-icon class="back-button-bottom" color="primary" name="chevron-up-circle" (click)="goToPage()"></ion-icon>
        </ion-list> -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>