<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="wrapper">
    <form (ngSubmit)="register()" [formGroup]="credentialsForm">
      <ion-item color="primary" class="ion-margin-horizontal" lines="none">
        <ion-input
          type="text"
          placeholder="First Name"
          formControlName="firstName"
        >
        </ion-input>
      </ion-item>
      <ion-note
        color="danger"
        class="ion-margin-horizontal"
        slot="error"
        *ngIf="firstName.touched && !firstName.valid"
      >
        First name is required
      </ion-note>
      <ion-item color="primary" class="ion-margin-horizontal" lines="none">
        <ion-input
          type="text"
          placeholder="Last Name"
          formControlName="lastName"
        ></ion-input>
      </ion-item>
      <ion-note
        color="danger"
        class="ion-margin-horizontal"
        slot="error"
        *ngIf="lastName.touched && !lastName.valid"
      >
        Last name is required
      </ion-note>
      <ion-item color="primary" class="ion-margin-horizontal" lines="none">
        <ion-input
          type="email"
          placeholder="Email"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <ion-note
        color="danger"
        class="ion-margin-horizontal"
        slot="error"
        *ngIf="email.touched && !email.valid && email.errors?.['email']"
        >Email is invalid
      </ion-note>
      <ion-note
        color="danger"
        class="ion-margin-horizontal"
        slot="error"
        *ngIf="email.touched && !email.valid && email.errors?.['required']"
        >Email is required
      </ion-note>
      <ion-item
        color="primary"
        class="ion-margin-horizontal ion-margin-vertical"
        lines="none"
      >
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
      </ion-item>
      <ion-note
        color="danger"
        class="ion-margin-horizontal"
        slot="error"
        *ngIf="password.touched && !password.valid && password.errors?.['minlength']"
        >Password needs to be at least 6 characters
      </ion-note>
      <ion-note
        color="danger"
        class="ion-margin-horizontal"
        slot="error"
        *ngIf="password.touched && !password.valid && password.errors?.['required']"
        >Password is required
      </ion-note>
      <ion-item color="primary" class="ion-margin-horizontal" lines="none">
        <ion-input
          type="password"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        ></ion-input>
      </ion-item>
      <ion-note
        color="danger"
        class="ion-margin-horizontal"
        slot="error"
        *ngIf="confirmPassword.dirty && credentialsForm.errors?.['missMatch']"
      >
        Passwords must match
      </ion-note>
      <ion-button
        class="ion-margin-horizontal ion-margin-vertical"
        type="submit"
        color="secondary"
        expand="block"
        [disabled]="!credentialsForm.valid"
        >Sign Up
      </ion-button>
    </form>
    <img
      alt="logo"
      id="header_picture"
      src="assets/images/background/register.png"
    />
  </div>
</ion-content>
