<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div class="segment-wrapper">
    <ion-segment
      scrollable
      (ionChange)="segmentChanged($event)"
      [(ngModel)]="type"
    >
      <ion-segment-button value="day0" checked>
        <ion-label>
          Mon<br />
          <b>18</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day1">
        <ion-label>
          Tue<br />
          <b>19</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day2">
        <ion-label>
          Wed<br />
          <b>20</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day3">
        <ion-label>
          Thu<br />
          <b>21</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day4">
        <ion-label>
          Fri<br />
          <b>22</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day5">
        <ion-label>
          Sat<br />
          <b>23</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day6">
        <ion-label>
          Sun<br />
          <b>24</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day7">
        <ion-label>
          Mon<br />
          <b>25</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day8">
        <ion-label>
          Tue<br />
          <b>26</b>
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="!scheduleData" class="custom-skeleton">
    <div *ngFor="let item of [].constructor(6)">
      <ion-list>
        <ion-grid>
          <ion-row class="ion-align-items-stretch ion-margin-bottom">
            <ion-col size="3">
              <ion-text>
                <h3>
                  <ion-skeleton-text
                    animated
                    style="width: 60%"
                  ></ion-skeleton-text>
                </h3>
              </ion-text>
              <ion-text>
                <p>
                  <ion-skeleton-text
                    animated
                    style="width: 50%"
                  ></ion-skeleton-text>
                </p>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-card
                [ngStyle]="{
                width: '100%',
                height: '150px',
                position: 'relative'
              }"
              >
                <ion-card-header>
                  <ion-thumbnail
                    [ngStyle]="{
                    width: '100%',
                    height: '150px'
                  }"
                  >
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-thumbnail>
                </ion-card-header>
                <ion-card-content>
                  <ion-item slot="start" lines="none">
                    <ion-skeleton-text
                      animated
                      style="width: 60%"
                    ></ion-skeleton-text>
                  </ion-item>
                  <ion-item slot="start" lines="none">
                    <ion-skeleton-text
                      animated
                      style="width: 60%"
                    ></ion-skeleton-text>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </div>
  </div>

  <div *ngIf="scheduleData">
    <div [ngSwitch]="type" *ngFor="let day of scheduleData | keyvalue">
      <ion-list *ngSwitchCase="day.key">
        <ion-grid *ngFor="let item of day.value">
          <ion-row class="ion-align-items-stretch ion-margin-bottom">
            <ion-col size="3">
              <ion-text>
                <h3>{{ item.timeFrom }}</h3>
              </ion-text>
              <ion-text>
                <p>{{ item.timeTo }}</p>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-card color="secondary">
                <ion-card-header>
                  <ion-card-title>{{ item.eventTitle }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-item color="secondary" slot="start" lines="none">
                    <ion-chip
                      *ngIf="item.location && item.placeId"
                      (click)="goToLocation({location: item.location, placeId: item.placeId})"
                      class="restaurant-chip"
                    >
                      <ion-icon
                        color="primary"
                        name="location-sharp"
                      ></ion-icon>
                      <ion-label color="primary">See location</ion-label>
                    </ion-chip>
                    <ion-chip
                      *ngIf="item.huddleDay>=0 && (authService.userLoggedIn | async)"
                      [routerLink]="['/huddle', item.huddleDay]"
                      >
                      <ion-icon
                        color="primary"
                        name="people"
                      ></ion-icon>
                      <ion-label color="primary">Huddle</ion-label>
                    </ion-chip>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </div>
  </div>
</ion-content>
