#header_picture {
    width: 100%;
}

.block {
    display: block;
}

.small-text {
    color: #FFD700;
    text-decoration: none;
    font-weight: 600;
}

ion-label {
    display: block;
    margin: 10px;
}

ion-icon {
    margin-right: 10px;
    font-size: 25px;
}

ion-button {
    font-size: 16px;
}

ion-item {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    margin: 8px 16px;
    background: #150f38;
}

h1 {
    font-weight: 600;
}
