.block {
    display: block;
}

.small-text {
    color: #FFD700;
    text-decoration: none;
    font-weight: 600;
}

ion-label {
    margin: 10px;
}

ion-icon {
    margin-right: 10px;
    font-size: 25px;
}