<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="school-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="cart-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="compass-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="restaurant-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
