<app-header></app-header>

<ion-content class="ion-padding-horizontal">
  @if (user) {
    <ion-toolbar color="primary">
      <ion-buttons collapse="true" slot="end">
        <ion-button class="badge-button" fill="clear" (click)="openCartModal()"  (keydown)="openCartModal()">
          <ion-icon class="icon" size="large" name="cart"></ion-icon>
          <ion-badge class="badge-single-digits" color="danger">{{
            calculateCartQuantity()
          }}</ion-badge>
        </ion-button>
      </ion-buttons>
      <h1>Store</h1>
    </ion-toolbar>

    <ion-grid>
      @for (product of products; track product) {
        <ion-row class="ion-margin-vertical">
          <ion-card>
            <ion-col size="12" >
              <div class="image-container">

                <ion-img [src]="product.imageUrl" (click)="addToCart(product)" (keydown)="addToCart(product)" class="product-image"></ion-img>
              </div>
              <div class="ion-justify-content-between">
                <p class="detail-name">{{ product.name }}</p>

                <p class="detail-price">{{ product.price | currency: 'EUR' }}</p>
              </div>

              @if (product.sizes) {
                <div>
                  <ion-select>
                    @for (size of Object.entries(product.sizes); track size) {
                      <ion-select-option [value]="size[1]">{{ size[0] }}</ion-select-option>
                    }
                  </ion-select>
                </div>
              }
            </ion-col>
          </ion-card>
        </ion-row>
      }
    </ion-grid>
  }

  @if (user === null) {
    <ion-toolbar>
      <ion-buttons collapse="true" slot="end">
        <ion-button
          class="badge-button"
          fill="clear"
          (click)="redirectLogin('Login to view your cart')"
          (keydown)="redirectLogin('Login to view your cart')"
        >
          <ion-icon class="icon" size="large" name="cart"></ion-icon>
        </ion-button>
      </ion-buttons>
      <h1>ISWiB Store</h1>
    </ion-toolbar>

    <ion-grid>
      @for (product of products; track product) {
        <ion-row class="ion-margin-vertical">
          <ion-card>
            <ion-col size="12">
              <ion-img
                [src]="product.imageUrl"
                (click)="redirectLogin('Login to order this product')"
                (keydown)="redirectLogin('Login to order this product')"
                class="grid-img"
              ></ion-img>
              <p class="detail-name">{{ product.name }}</p>

              <p class="detail-price">{{ product.price | currency: 'EUR' }}</p>
            </ion-col>
          </ion-card>
        </ion-row>
      }
    </ion-grid>
  }
</ion-content>
