<app-header></app-header>

<ion-content class="ion-padding-horizontal">
  <ng-container *ngIf="authService.userLoggedIn | async">
    <ion-toolbar>
      <ion-buttons collapse="true" slot="end">
        <ion-button class="badge-button" fill="clear" (click)="openCartModal()">
          <ion-icon class="icon" size="large" name="cart"></ion-icon>
          <ion-badge class="badge-single-digits" color="danger">{{
            calculateCartQuantity()
          }}</ion-badge>
        </ion-button>
      </ion-buttons>
      <h1>ISWiB Store</h1>
    </ion-toolbar>

    <ion-grid>
      <ion-row *ngFor="let product of products" class="ion-margin-vertical">
        <ion-card>
          <ion-col size="12">
            <ion-img [src]="product.image" (click)="addToCart(product)" class="grid-img"></ion-img>
            <p class="detail-name">{{ product.name }}</p>

            <p class="detail-price">{{ product.price | currency: 'EUR' }}</p>
          </ion-col>
        </ion-card>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="(authService.userLoggedIn | async) === false">
    <ion-toolbar>
      <ion-buttons collapse="true" slot="end">
        <ion-button
          class="badge-button"
          fill="clear"
          (click)="redirectLogin('Login to view your cart')"
        >
          <ion-icon class="icon" size="large" name="cart"></ion-icon>
        </ion-button>
      </ion-buttons>
      <h1>ISWiB Store</h1>
    </ion-toolbar>

    <ion-grid>
      <ion-row *ngFor="let product of products" class="ion-margin-vertical">
        <ion-card>
          <ion-col size="12">
            <ion-img
              [src]="product.image"
              (click)="redirectLogin('Login to order this product')"
              class="grid-img"
            ></ion-img>
            <p class="detail-name">{{ product.name }}</p>

            <p class="detail-price">{{ product.price | currency: 'EUR' }}</p>
          </ion-col>
        </ion-card>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
