<!-- <ion-content [fullscreen]="true"> -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-header collapse="fade" class="ion-no-border">
    <ion-toolbar>
      <img alt="logo" id="header_logo" height="24" float-left src="assets/images/iswib-logo.png">
    </ion-toolbar>
  </ion-header>

  <!-- <ion-segment scrollable mode="md" (ionChange)="segmentChanged()" [(ngModel)]="segment" color="warning">
    <ion-segment-button mode="md" value="0">
      <p>Description</p>
    </ion-segment-button>
    <ion-segment-button mode="md" value="1">
      <p>Interconnections</p>
    </ion-segment-button>
    <ion-segment-button mode="md" value="2">
      <p>Declensions</p>
    </ion-segment-button>
  </ion-segment>

  <ion-slides (ionSlideDidChange)="slideChanged()" pager="true">
    <ion-slide>
      First
    </ion-slide>
    <ion-slide>
      second
    </ion-slide>
    <ion-slide>
      third
    </ion-slide>
  </ion-slides> -->
  <div class="segment-wrapper">
    <ion-segment scrollable (ionChange)="segmentChanged($event)" [(ngModel)]="type">
      <ion-segment-button value="day1" checked>
        <ion-label>
          Mon<br>
          <b>18</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day2">
        <ion-label>
          Tue<br>
          <b>19</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day3">
        <ion-label>
          Wed<br>
          <b>20</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day4">
        <ion-label>
          Thu<br>
          <b>21</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day5">
        <ion-label>
          Fri<br>
          <b>22</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day6">
        <ion-label>
          Sat<br>
          <b>23</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day7">
        <ion-label>
          Sun<br>
          <b>24</b>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="day8">
        <ion-label>
          Mon<br>
          <b>25</b>
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'day1'">
      <ion-grid *ngFor="let item of data.day1; index as i">
        <ion-row class="ion-align-items-stretch ion-margin-bottom">
          <ion-col size="2" class="ion-margin-end">
            <ion-text>
              <h3>{{ item.timeFrom }}</h3>
            </ion-text>
            <ion-text>
              <p>{{ item.timeTo }}</p>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-card color="secondary">
              <ion-card-header>
                <ion-card-title>{{ item.eventTitle }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item color="secondary" slot="start" lines="none">
                  <ion-icon name="location-outline" color="primary"></ion-icon>
                  <ion-label><a href="www.google.com">Location</a></ion-label>
                  <ion-avatar slot="end">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'day2'">
      <ion-grid *ngFor="let item of data.day2; index as i">
        <ion-row class="ion-align-items-stretch ion-margin-bottom">
          <ion-col size="2" class="ion-margin-end">
            <ion-text>
              <h3>{{ item.timeFrom }}</h3>
            </ion-text>
            <ion-text>
              <p>{{ item.timeTo }}</p>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-card color="secondary">
              <ion-card-header>
                <ion-card-title>{{item.eventTitle}} 2</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item color="secondary" slot="start" lines="none">
                  <ion-icon name="location-outline" color="primary"></ion-icon>
                  <ion-label><a href="www.google.com">Location</a></ion-label>
                  <ion-avatar slot="end">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'day3'">
      <ion-grid *ngFor="let item of data.day3; index as i">
        <ion-row class="ion-align-items-stretch ion-margin-bottom">
          <ion-col size="2" class="ion-margin-end">
            <ion-text>
              <h3>{{ item.timeFrom }}</h3>
            </ion-text>
            <ion-text>
              <p>{{ item.timeTo }}</p>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-card color="secondary">
              <ion-card-header>
                <ion-card-title>{{item.eventTitle}} 3</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item color="secondary" slot="start" lines="none">
                  <ion-icon name="location-outline" color="primary"></ion-icon>
                  <ion-label><a href="www.google.com">Location</a></ion-label>
                  <ion-avatar slot="end">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'day4'">
      <ion-grid *ngFor="let item of data.day4; index as i">
        <ion-row class="ion-align-items-stretch ion-margin-bottom">
          <ion-col size="2" class="ion-margin-end">
            <ion-text>
              <h3>{{ item.timeFrom }}</h3>
            </ion-text>
            <ion-text>
              <p>{{ item.timeTo }}</p>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-card color="secondary">
              <ion-card-header>
                <ion-card-title>{{item.eventTitle}} 4</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item color="secondary" slot="start" lines="none">
                  <ion-icon name="location-outline" color="primary"></ion-icon>
                  <ion-label><a href="www.google.com">Location</a></ion-label>
                  <ion-avatar slot="end">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'day5'">
      <ion-grid *ngFor="let item of data.day5; index as i">
        <ion-row class="ion-align-items-stretch ion-margin-bottom">
          <ion-col size="2" class="ion-margin-end">
            <ion-text>
              <h3>{{ item.timeFrom }}</h3>
            </ion-text>
            <ion-text>
              <p>{{ item.timeTo }}</p>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-card color="secondary">
              <ion-card-header>
                <ion-card-title>{{item.eventTitle}} 5</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item color="secondary" slot="start" lines="none">
                  <ion-icon name="location-outline" color="primary"></ion-icon>
                  <ion-label><a href="www.google.com">Location</a></ion-label>
                  <ion-avatar slot="end">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'day6'">
      <ion-grid *ngFor="let item of data.day6; index as i">
        <ion-row class="ion-align-items-stretch ion-margin-bottom">
          <ion-col size="2" class="ion-margin-end">
            <ion-text>
              <h3>{{ item.timeFrom }}</h3>
            </ion-text>
            <ion-text>
              <p>{{ item.timeTo }}</p>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-card color="secondary">
              <ion-card-header>
                <ion-card-title>{{item.eventTitle}} 6</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item color="secondary" slot="start" lines="none">
                  <ion-icon name="location-outline" color="primary"></ion-icon>
                  <ion-label><a href="www.google.com">Location</a></ion-label>
                  <ion-avatar slot="end">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'day7'">
      <ion-grid *ngFor="let item of data.day7; index as i">
        <ion-row class="ion-align-items-stretch ion-margin-bottom">
          <ion-col size="2" class="ion-margin-end">
            <ion-text>
              <h3>{{ item.timeFrom }}</h3>
            </ion-text>
            <ion-text>
              <p>{{ item.timeTo }}</p>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-card color="secondary">
              <ion-card-header>
                <ion-card-title>{{item.eventTitle}} 7</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item color="secondary" slot="start" lines="none">
                  <ion-icon name="location-outline" color="primary"></ion-icon>
                  <ion-label><a href="www.google.com">Location</a></ion-label>
                  <ion-avatar slot="end">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'day8'">
      <ion-grid *ngFor="let item of data.day8; index as i">
        <ion-row class="ion-align-items-stretch ion-margin-bottom">
          <ion-col size="2" class="ion-margin-end">
            <ion-text>
              <h3>{{ item.timeFrom }}</h3>
            </ion-text>
            <ion-text>
              <p>{{ item.timeTo }}</p>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-card color="secondary">
              <ion-card-header>
                <ion-card-title>{{item.eventTitle}} 8</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item color="secondary" slot="start" lines="none">
                  <ion-icon name="location-outline" color="primary"></ion-icon>
                  <ion-label><a href="www.google.com">Location</a></ion-label>
                  <ion-avatar slot="end">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

  </div>



</ion-content>