<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-header collapse="fade" class="ion-no-border">
    <ion-toolbar>
      <img alt="logo" id="header_logo" height="24" float-left src="assets/images/iswib-logo.png">
    </ion-toolbar>
  </ion-header>


</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Select Image
    </ion-button>
  </ion-toolbar>
</ion-footer>