<ion-header>
  <ion-toolbar>
    <ion-title>{{huddle? 'Edit Huddle' : 'Create Huddle'}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input formControlName="title" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea formControlName="description" rows="3"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Meeting Time</ion-label>
            <ion-datetime-button datetime="datetime" class="ion-margin">
            </ion-datetime-button>
            <ion-popover [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  color="date"
                  [showDefaultButtons]="true"
                  id="datetime"
                  hourCycle="h23"
                  formControlName="time"
                >
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-button
            type="submit"
            expand="block"
            color="primary"
            [disabled]="!form.valid">
            {{huddle? 'Save' : 'Create'}}
          </ion-button>
          <ion-button
            (click)="initMap()"
          >
            Map
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div id="map"></div>
</ion-content>
