<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-header collapse="fade" class="ion-no-border">
    <ion-toolbar>
      <img alt="logo" id="header_logo" height="24" float-left src="assets/images/iswib-logo.png">
    </ion-toolbar>
  </ion-header>

  <h1>City discovery</h1>

  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-card class="design ion-align-self-center">
          <ion-card-header>
            <ion-list class="bg-transparent">
              <ion-item color="none" lines="none">
                <ion-label slot="end">12</ion-label>
                <ion-icon name="heart-outline" color="light" slot="end"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-card-header>
          <ion-card-content>
            <ion-list class="bg-transparent">
              <ion-chip>
                <ion-icon color="primary" name="location-sharp"></ion-icon>
                <ion-label color="primary">Temple Saint Sava</ion-label>
              </ion-chip>
              <ion-chip class="arrow">
                <ion-icon color="primary" name="chevron-forward-outline"></ion-icon>
              </ion-chip>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>