<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div *ngIf="!data" class="custom-skeleton">
    <h1>
      <ion-skeleton-text animated style="width: 60%; height: 25px;"></ion-skeleton-text>
    </h1>
    <ion-grid>
      <ion-row *ngFor="let item of [].constructor(5)">
        <ion-col>
          <ion-card [ngStyle]="{
            width: '100%',
            height: '400px',
            position: 'relative'
          }">
            <ion-card-header>
              <ion-thumbnail [ngStyle]="{
                width: '100%',
                height: '400px'
              }">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
              <!-- <ion-item color="none" lines="none">
                  <div class="stage" slot="end">
                    <div class="heart" [ngClass]="item.isLiked ? 'heart is-active' : 'heart'"
                      (click)="handleLike(item.id)">
                    </div>
                  </div>
                  <ion-label slot="end" class="likes">{{item.likes.length}}</ion-label>
                </ion-item> -->
            </ion-card-header>
            <ion-card-content>
              <h1 class="ion-text-start">
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </h1>
              <ion-list class="bg-transparent flex">
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                <ion-skeleton-text class="circle" animated style="width: 15%"></ion-skeleton-text>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="data">
    <h1>City discovery</h1>
    <ion-grid>
      <ion-row *ngFor="let item of data; index as i">
        <ion-col>
          <ion-card [ngStyle]="{
            'background': 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .9)), url(' + item.image + ')',
            'background-size': '100% 100%',
            'background-repeat': 'no-repeat',
            width: '100%',
            height: '400px',
            position: 'relative'
          }">
            <ion-card-header>
              <ion-list class="bg-transparent">
                <!-- <ion-item color="none" lines="none">
                  <div class="stage" slot="end">
                    <div class="heart" [ngClass]="item.isLiked ? 'heart is-active' : 'heart'"
                      (click)="handleLike(item.id)">
                    </div>
                  </div>
                  <ion-label slot="end" class="likes">{{item.likes.length}}</ion-label>
                </ion-item> -->
              </ion-list>
            </ion-card-header>
            <ion-card-content>
              <h1 class="ion-text-start">{{item.name}}</h1>
              <ion-list class="bg-transparent flex">
                <ion-chip (click)="goToLocation(item.id)">
                  <ion-icon color="primary" name="location-sharp"></ion-icon>
                  <ion-label color="primary">See location</ion-label>
                </ion-chip>
                <ion-chip class="arrow">
                  <ion-icon color="primary" name="chevron-forward-outline" (click)="goToPage(data[i])"></ion-icon>
                </ion-chip>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>