<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">

  <div *ngIf="!data" class="custom-skeleton">
    <h1>
      <ion-skeleton-text animated style="width: 60%; height: 25px;"></ion-skeleton-text>
    </h1>

    <div class="segment-wrapper">
      <ion-col size="4" *ngFor="let item of [].constructor(5)">
        <ion-card [ngStyle]="{
          width: '120px',
          height: '130px',
          position: 'relative'
        }">
          <ion-card-header>
            <ion-thumbnail [ngStyle]="{
              width: '120px',
              height: '130px'
            }">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
          </ion-card-header>
          <ion-card-content>
            <ion-skeleton-text animated style="height: 20px"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </div>

    <h1>
      <ion-skeleton-text animated style="width: 60%; height: 25px;"></ion-skeleton-text>
    </h1>

    <div class="segment-wrapper">
      <ion-segment scrollable (ionChange)="segmentChanged($event)" [(ngModel)]="type">
        <ion-segment-button class="categories-button" value="restaurants" checked>
          <ion-skeleton-text animated style="height: 20px"></ion-skeleton-text>
        </ion-segment-button>
        <ion-segment-button class="categories-button" value="fastfood">
          <ion-skeleton-text animated style="height: 20px"></ion-skeleton-text>
        </ion-segment-button>
        <ion-segment-button class="categories-button" value="vegan">
          <ion-skeleton-text animated style="height: 20px"></ion-skeleton-text>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div>
      <ion-list>
        <ion-grid *ngFor="let item of [].constructor(4)">
          <ion-card class="restaurant-card ion-margin-bottom" [ngStyle]="{
            width: '100%',
            height: '130px',
            position: 'relative'
          }">
            <ion-row style="height: 130px">
              <ion-col size="4">
              </ion-col>
              <ion-col>
                <ion-card-header>
                  <ion-thumbnail [ngStyle]="{
                    width: '350px',
                    height: '130px'
                  }">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-thumbnail>
                </ion-card-header>
                <ion-card-content>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-grid>
      </ion-list>
    </div>
  </div>


  <div *ngIf="data">
    <h1>Our recommendation</h1>

    <div class="segment-wrapper">
      <ion-segment scrollable>
        <ion-segment-button class="sponsors-button" *ngFor="let sponsor of sponsors; index as i">
          <ion-card color="light">
            <img [src]="sponsor.image" />
            <ion-card-header>
              <ion-card-title>{{sponsor.name}}</ion-card-title>
              <ion-card-subtitle>See more</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-segment-button>
      </ion-segment>
    </div>

    <h1>Search by categories</h1>

    <div class="segment-wrapper">
      <ion-segment scrollable (ionChange)="segmentChanged($event)" [(ngModel)]="type">
        <ion-segment-button class="categories-button" value="restaurants" checked>
          <ion-chip>
            <ion-icon name="restaurant-sharp" color="primary"></ion-icon>
            <ion-label color="primary">Restaurants</ion-label>
          </ion-chip>
        </ion-segment-button>
        <ion-segment-button class="categories-button" value="fastfood">
          <ion-chip>
            <ion-icon name="fast-food" color="primary"></ion-icon>
            <ion-label color="primary">Fast-food</ion-label>
          </ion-chip>
        </ion-segment-button>
        <ion-segment-button class="categories-button" value="vegan">
          <ion-chip>
            <ion-icon name="leaf" color="primary"></ion-icon>
            <ion-label color="primary">Vegan</ion-label>
          </ion-chip>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="type" *ngFor="let restaurant of restaurants; index as i">
      <ion-list *ngSwitchCase="restaurant">
        <ion-grid *ngFor="let item of data[i]; index as j">
          <ion-card color="primary" class="restaurant-card ion-margin-bottom">
            <ion-row>
              <ion-col size="4">
                <img [src]="item.image">
              </ion-col>
              <ion-col>
                <ion-card-content>
                  <h1>{{item.name}}</h1>
                  <div id="wrapper">
                    <p>Open from: {{item.timeFrom}} - {{item.timeTo}} </p>
                    <div>
                      <ion-chip (click)="goToLocation(data[i][j])" class="restaurant-chip">
                        <ion-icon color="primary" name="location-sharp"></ion-icon>
                        <ion-label color="primary">See location</ion-label>
                      </ion-chip>
                      <ion-icon *ngIf="item.vegan" id="vegan" name="leaf"></ion-icon>
                    </div>
                  </div>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-grid>
      </ion-list>
    </div>
  </div>


</ion-content>