<ion-header class="ion-padding-start ion-no-border">
  <ion-toolbar>
    <img alt="logo" id="header_logo" height="24" float-left src="assets/images/iswib-logo.png">
    <ion-buttons slot="end">
      <ion-menu-button menu="top-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">

  <h1>Our recommendation</h1>

  <div class="segment-wrapper">
    <ion-segment scrollable>
      <ion-segment-button class="sponsors-button" *ngFor="let sponsor of sponsors; index as i">
        <ion-card color="light">
          <img [src]="sponsor.image" />
          <ion-card-header>
            <ion-card-title>{{sponsor.name}}</ion-card-title>
            <ion-card-subtitle>See more</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-segment-button>
    </ion-segment>
  </div>

  <h1>Search by categories</h1>

  <div class="segment-wrapper">
    <ion-segment scrollable (ionChange)="segmentChanged($event)" [(ngModel)]="type">
      <ion-segment-button class="categories-button" value="restaurants" checked>
        <ion-chip>
          <ion-icon name="restaurant-sharp" color="primary"></ion-icon>
          <ion-label color="primary">Restaurants</ion-label>
        </ion-chip>
      </ion-segment-button>
      <ion-segment-button class="categories-button" value="fastfood">
        <ion-chip>
          <ion-icon name="fast-food" color="primary"></ion-icon>
          <ion-label color="primary">Fast-food</ion-label>
        </ion-chip>
      </ion-segment-button>
      <ion-segment-button class="categories-button" value="vegan">
        <ion-chip>
          <ion-icon name="leaf" color="primary"></ion-icon>
          <ion-label color="primary">Vegan</ion-label>
        </ion-chip>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="type" *ngFor="let restaurant of restaurants; index as i">
    <ion-list *ngSwitchCase="restaurant">
      <ion-grid *ngFor="let item of data[i]; index as j">
        <ion-card color="primary" class="restaurant-card ion-margin-bottom">
          <ion-row>
            <ion-col size="4">
              <img [src]="item.image">
            </ion-col>
            <ion-col>
              <ion-card-content>
                <h1>{{item.name}}</h1>
                <div id="wrapper">
                  <p>Open from: {{item.timeFrom}} - {{item.timeTo}} </p>
                  <div>
                    <ion-chip (click)="goToLocation(data[i][j])" class="restaurant-chip">
                      <ion-icon color="primary" name="location-sharp"></ion-icon>
                      <ion-label color="primary">See location</ion-label>
                    </ion-chip>
                    <ion-icon *ngIf="item.vegan" id="vegan" name="leaf"></ion-icon>
                  </div>
                </div>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-list>
  </div>


</ion-content>