<ion-app>
  <ion-menu side="end" menuId="top-menu" type="push" contentId="main" [swipeGesture]="false">
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-padding-start">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="top-menu">
          <ion-item lines="full" routerLink="/profile">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="top-menu">
          <ion-item lines="full" routerLink="/tabs">
            <ion-icon name="balloon" slot="start"></ion-icon>
            <ion-label>ISWiB</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="top-menu">
          <ion-item lines="full" routerLink="/converter">
            <ion-icon name="cash" slot="start"></ion-icon>
            <ion-label>Currency converter</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item (click)="logout()" lines="full">
          <ion-icon name="log-out-outline"></ion-icon>
          Logout
        </ion-item>
        <ion-item-divider color="secondary" *ngIf="isUserLoggedIn()"></ion-item-divider>
        <ion-item *ngIf="isUserLoggedIn()" (click)="presentAlert()" lines="full">
          <ion-icon name="trash-outline"></ion-icon>
          Delete account
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main" [animation]="myCustomPageTransition"></ion-router-outlet>
</ion-app>
