<app-header></app-header>

<ion-content>
  <ng-container *ngIf="currentUser && !isLoading">
  <div class="detail-header">
    <div class="avatar-container" (click)="onChooseNewProfilePic()">
      <ion-avatar>
        <ion-img class="profile" [src]="profilePictureUrl"> </ion-img>
      </ion-avatar>
      <div class="inner">
        <ion-icon name="camera" class="camera-icon"></ion-icon>
      </div>
    </div>
  </div>
  <div class="user-details">
    <p>{{ currentUser | json }}</p>
    <ion-item>
      <ion-label>
        <p>{{ currentUser.email }}</p>
        <p>{{ currentUser.firstName }} {{ currentUser?.lastName }}</p>
        <p>{{ currentUser.role }}</p>
      </ion-label>
    </ion-item>
  </div>
</ng-container>
</ion-content>
