<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="wrapper">
    <form (ngSubmit)="resetPassword()" [formGroup]="credentials">
      <ion-item color="primary" class="ion-margin-horizontal" lines="none">
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-note color="danger" class="ion-margin-horizontal ion-margin-vertical" slot="error"
        *ngIf="(email.dirty || email.touched) && email.errors">Email is
        invalid</ion-note>
      <ion-button class="ion-margin-horizontal ion-margin-vertical" type="submit" color="secondary" expand="block"
        [disabled]="!credentials.valid">Reset
        password</ion-button>
      <div class="ion-margin-horizontal ion-margin-vertical">
        <small>
          Please provide the username or email address that you used when you signed up for your ISWiB account.
        </small>
      </div>
    </form>
    <img alt="logo" id="header_picture" src="assets/images/background/reset-password.png">
  </div>
</ion-content>