<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="resetPassword()" [formGroup]="credentials">
    <ion-item lines="full">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Reset password</ion-button>
      </ion-col>
    </ion-row>
    <small>
      Please provide the username or email address that you used when you signed
      up for your ISWiB account.
    </small>
  </form>
</ion-content>