ion-card {
    color: #150f38;
    margin-bottom: 16px;
    ion-card-header {
      padding: 15px 0 15px 15px;
    }
    ion-card-title {
      font-weight: 500;
      padding-bottom: 6px;
    }
    ion-card-subtitle {
      font-weight: 500;
    }
    ion-label a {
      color: #150f38;
    }
    ion-card-content {
      padding: 0 15px 15px 15px;
    }
    ion-avatar {
      width: 100% !important;
      height: 100% !important;
      max-width: 35px !important;
      max-height: 35px !important;
    }
    p {
      margin-right: 16px;
    }
}

.md ion-list {
  background: #150f38;
}

h1 {
  color: #fff;
}

.custom-skeleton {
  ion-skeleton-text {
    line-height: 12px;
    margin-bottom: 5px;
  }
  ion-card {
    background: #1c173a;
    ion-card-header {
      padding: 0;
    }
  }
  .circle {
    border-radius: 40px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  ion-card-content {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}