/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.custom-alert .alert-wrapper {
  h2, div {
    color: #150f38 !important;
  }
  background-color: #fff !important;
  background: #fff  !important;
  $alert-md-background-color: #fff;
  $alert-ios-background: #fff;
}

ion-action-sheet.my-custom-class {
  --background: #f58840;
  --backdrop-opacity: 0.6;
  --button-background-selected: #e97223;
  --button-color: #000000;
  --color: #fff;
  /* role: "destructive" button iOS styling override */
  --ion-color-danger: #000000;
}
:root {
	--ion-color-date: #ffd700;
	--ion-color-date-rgb: 255,215,0;
	--ion-color-date-contrast: #000000;
	--ion-color-date-contrast-rgb: 0,0,0;
	--ion-color-date-shade: #e0bd00;
	--ion-color-date-tint: #ffdb1a;
}

.ion-color-date {
	--ion-color-base: var(--ion-color-date);
	--ion-color-base-rgb: var(--ion-color-date-rgb);
	--ion-color-contrast: var(--ion-color-date-contrast);
	--ion-color-contrast-rgb: var(--ion-color-date-contrast-rgb);
	--ion-color-shade: var(--ion-color-date-shade);
	--ion-color-tint: var(--ion-color-date-tint);
}
